body{
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Custom nav-expand*/
@media (min-width: 1550px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
      position: absolute;
  }
  .navbar-expand-custom .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
      flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}
#product:hover{
  padding: 10px;
  transition: 0.3s;
}
.cart {
  position: relative;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
.shopping-cart {
display: grid;
grid-template-columns: repeat(1, 320px);
justify-content: center;
gap: 15px;
}

/**
* ! style rules for cart-item
**/

.cart-item {
border: 2px solid #212529;
border-radius: 5px;
display: flex;
}

.title-price-x {
width: 195px;
display: flex;
align-items: center;
justify-content: space-between;
/* border: 2px solid red; */
}

.title-price {
display: flex;
align-items: center;
gap: 10px;
}

.cart-item-price {
background-color: #212529;
color: white;
border-radius: 4px;
padding: 3px 6px;
}
